/* 

font-family: 'Poiret One', cursive;
font-family: 'Nanum Myeongjo', serif; 

*/

:root {
    --header-font: 'Poiret One', cursive;
    --body-font: 'Nanum Myeongjo', serif;
}

* {
    /* box-sizing: border-box; */
    margin: 0;
}

html {
    scroll-behavior: smooth;
    height: 100vh;
}

body {
    height: 100vh;
    
    font-family: var(--body-font);
    font-size: 14px;
    margin: 0 auto;
    margin-bottom: 300px;
}

a {
    text-decoration: none;
    font-weight: 700;
    color: inherit;
    transition-duration: 200ms;
}

a:hover {
    color: rgb(53, 171, 218);
    transition-duration: 200ms;
}

nav {
    position: fixed;
    width: 100%;
    padding: 15px 0;
    background-color: #fff;
    text-transform: uppercase;
    letter-spacing: .2em;
    border-bottom: 1px solid rgb(202, 202, 202);
    z-index: 9999;
}

#scrollTitle {
    position: fixed;
    font-family: var(--header-font);
    font-size: 2.3em;
    text-transform: none;
    left: 20px;
    /* top: -120px; */
    z-index: 99999;
}

.scrollTitle {
    /* display: none; */
    /* visibility: hidden; */
    /* overflow: hidden; */
    top: -120px;
}

#scrollArrowHeader {
    position: fixed;
    font-family: var(--header-font);
    right: 20px;
    top: 12px;
}

.scrollDown {
    /* display: block; */
    /* visibility: visible; */
    animation: scrollDown 500ms forwards;
}

@keyframes scrollDown {
    0% {
        top: -50px;
        opacity: 0;
    }

    75% {
        opacity: 1;
    }

    100% {
        top: 2px;
        opacity: 1;
    }
}

.scrollUp {
    display: block;
    visibility: visible;
    animation: scrollUp 500ms forwards;
}

@keyframes scrollUp {
    0% {
        top: 2px;
    }

    75% {
        opacity: 1;
    }

    100% {
        top: -50px;
        opacity: 0;
    }
}

.scrollArrDown {
    display: block;
    visibility: visible;
    animation: scrollArrDown 500ms forwards;
}

@keyframes scrollArrDown {
    0% {
        top: -50px;
        opacity: 0;
    }

    75% {
        opacity: 1;
    }

    100% {
        top: 12px;
        opacity: 1;
    }
}

nav h2 span {
    color: rgb(53, 171, 218);
}


nav a {
    text-decoration: none;
    color: #000;

    padding: 20px 10px;
    width: 100%;
}

nav ul {
    text-align: center;
    padding: 0;
}

nav ul li {
    display: inline-block;
    list-style: none;
    padding: 0 10px;
    font-size: .9em;
}

nav ul li ul {
    display: none;
    position: absolute;
    margin-top: -3px;
    width: 190px;
    padding: 10px 0;
    background-color: #fff;
    border: 1px solid rgb(202, 202, 202);
    border-top: none;
}

nav ul li ul li {
    display: block;
    width: 100%;
    padding: 15px 0px;
    margin: 0 auto;
    border-bottom: 1px dotted rgb(202, 202, 202);
}

nav ul li ul li a:hover {
    font-style: italic;
    border-bottom: none;
}

nav ul li ul li ul {
    display: none;
    position: absolute;
    margin-top: -1px;
    left: 189px;
    width: 190px;
    /* height: 0; */
    /* overflow-y: wrap; */
    padding: 10px 0;
    background-color: #fff;
    border: 1px solid rgb(202, 202, 202);
    border-left: none;
}


nav ul li:hover ul {
    display: block;
    top: 50px
}

nav ul li:hover ul ul {
    display: none;
}

nav ul li ul li:hover ul {
    display: block;
}

nav ul li ul li:last-child {
    border-bottom: none;
}

header h1 {
    padding: 100px 0 50px 0;
    font-family: var(--header-font);
    font-size: 8em;
    text-align: center;
    letter-spacing: .2em;
}

.fadeHeader {
    animation: fadeHeader 400ms forwards;
}

@keyframes fadeHeader {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.showHeader {
    animation: showHeader 350ms forwards;
}

@keyframes showHeader {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

header h1 span,
footer h1 span {
    font-size: 1em;
    color: rgb(53, 171, 218);

}

/********* CONTAINER **********/

.container {
    width: 1150px;

    margin: 0 auto;
}

.slider {
    height: 90vh;
    margin: 25px auto;
    overflow: hidden;
}

.slider img {
    position: relative;
    width: 100%;
    top: -40px;
}

.menuBox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.menuBoxSize {
    position: relative;
    flex-basis: 32%;
    height: 350px;
    overflow: hidden;

    position: relative;
}

.menuBoxSize img {
    width: 130%;
}

.menuBoxSize:nth-child(2) img {
    width: 100%;
    margin-top: -150px;
}

.menuBoxSize:nth-child(3) img {
    width: 100%;
    margin-top: 10px;
    margin-left: 0px;
}

.menuBox .menuBoxSize:nth-last-child(1) img {
    position: relative;
    top: -190px;
}

.menuBoxLabel {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    color: #fff;
    transition-duration: 100ms;
    z-index: 1;
}

.menuBoxLabel:after {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    height: 328px;
    width: 346px;
    border: 1px solid #fff;
}
.menuBoxLabel h2,
.menuBoxLabel p {
    position: absolute;
    line-height: 3em;
    top: 40%;
    text-align: center;
    width: 100%;
}

.menuBoxLabel h2 {
    font-size: 2em;
    letter-spacing: .1em;
}

.menuBoxLabel p {
    font-family: var(--header-font);
    font-size: .8em;
}

.menuBoxLabel:hover {
    background-color: rgba(0, 0, 0, .5);
    transition-duration: 100ms;
}

.blogPosts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;

    text-align: center;
    line-height: 2em;
}

.blogPosts div {
    margin: 10px 0;
}

.blogPost {
    flex-basis: 48.7%;
    margin-bottom: 30px;
    padding-bottom: 30px;
}

.blogPost img {
    position: relative;
    max-width: 100%;
    align-content: center;
    top: -100px;
    
}

.blogImg {
    overflow: hidden;
    position: relative;
    height: 550px;
    margin-bottom: 30px;
}

.blogImg:hover:after {
    content: '';
    position: absolute;
    top: 10px;
    left: 9px;

    width: 540px;
    height: 528px;
    border: 1px solid #fff;
}



.blogPost:nth-child(4) .blogImg>img,
.blogPost:nth-child(5) .blogImg>img {
    height: 100%;
    max-width: 200%;
    top: 0px;
    left: -200px;

}

.keyword,
.blogDate {
    font-family: var(--header-font);
    font-weight: bold;
}

.blogTitle {
    font-family: var(--body-font);
}

.blogExcerpt {
    color: grey;
}

.readMoreBtn {
    height: 30px;
    width: 160px;
    margin: 20px;
    text-transform: uppercase;
    background-color: white;
    border: 1px solid rgb(175, 175, 175);
    transition-duration: 150ms;
}

.readMoreBtn:active,
.readMoreBtn:focus {
    outline: none;
}

.readMoreBtn:hover {
    background-color: rgb(53, 171, 218);
    color: #fff;
    border-color: rgb(53, 171, 218);
    transition-duration: 150ms;
}

.blogFooter {
    display: flex;
    justify-content: space-between;
    height: 50px;
    border-top: 1px solid rgb(223, 223, 223);
}

.blogSocialIcons ul {
    list-style: none;
}

.blogSocialIcons li {
    display: inline;
    padding: 0 6px;
}

.blogSocialIcons img {
    width: 17px;
    top: 5px;
}

.borderPattern {
    background: url("imgs/borderPattern.jpg");
    height: 7px;
    background-size: cover;
    background-position: center;
}


footer {
    text-align: center;
    padding: 40px 0;
    margin-top: 50px;
    border-top: 1px solid rgb(223, 223, 223);

}

footer h1 {
    font-size: 5em;
    font-family: var(--header-font);
    letter-spacing: .2em;
}

.footerSocialMedia {
    padding: 60px;
    font-family: var(--header-font);
    letter-spacing: .1em;
}

.footerSocialMedia ul {
    list-style: none;
    padding: 0;
}

.footerSocialMedia ul li {
    display: inline;
    padding: 0 15px;
}

footer p {
    font-size: .9em;
    padding: 20px;

}

footer h2 {
    font-family: var(--header-font);
    font-size: 1.7em;
    padding-top: 30px;
}

.rightBar {
    position: fixed;
    transform: rotate(-90deg);
    transform-origin: right top 0;
    margin: 0 auto;
    text-align: center;
    top: 0;
    right: 40px;
    padding: 10px 25px;
    width: calc(45.5vw);
    background-color: #fff;
    z-index: -99998;
}

.rightBar li a{
    padding: 0 20px;
}

.leftBar {
    display: grid;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0px;
    height: 100%;
    width: auto;
    padding: 10px;
    background-color: #fff;
}

.leftBar img {
    display: block;
    width: 12px;
    padding: 20px 10px;
    
}

.bars {
    z-index: 999;
}

.bars ul li {
    display: inline;
    padding: 0;
    margin: 0;
}

.bars ul {
    padding: 0;
}

.rightBarShow {
    animation: rightBarShow 500ms forwards;
}

@keyframes rightBarShow {
    0% {
        right: -50px;

    }

    100% {
        right: 40px;
    }
}

.rightBarHide {
    animation: rightBarHide 500ms forwards;
}

@keyframes rightBarHide {
    0% {
        right: 40px;
    }
    100%{
        right: -50px;
    }
}

.leftBarShow {
    animation: leftBarShow 500ms forwards;
}

@keyframes leftBarShow {
    0% {
        left: -50px;
    }

    100% {
        left: 0px;
    }
}

.leftBarHide {
    animation: leftBarHide 500ms forwards;
}

@keyframes leftBarHide {
    0% {
        left: 0px;
    }
    100% {
        left: -50px;
    }
}